<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
  <span>Mixomania</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
        <mat-list-item class="list-item" routerLink="/alcohols" (click)="sidenav.close();"> Alcools </mat-list-item>
        <mat-list-item class="list-item" routerLink="/bottles" (click)="sidenav.close();"> Bouteilles </mat-list-item>
        <mat-list-item class="list-item" routerLink="/recipes" (click)="sidenav.close();"> Recettes </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <router-outlet> </router-outlet>
</mat-sidenav-container>
