<div>
  <div class="edit-form" *ngIf="currentAlcohol.id">
    <h4>Alcohol</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="currentAlcohol.name">
      </div>
    </form>
    <button class="badge badge-danger mr-2" type="submit" (click)="updateAlcohol()">Update</button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentAlcohol.id">
    <br />
    <p>Can not access this alcohol</p>
  </div>

</div>
